In [ ]:
age = 38

salary = 50

age